<footer class="footer-container">
    <div class="footer-content">
      <!-- Información de la empresa -->
      <div class="footer-section">
        <h4>SmartDev</h4>
        <p>Conectamos talento con proyectos de impacto.</p>
      </div>
  
      <!-- Navegación -->
      <div class="footer-section">
        <h4>Navegación</h4>
        <ul>
          <li><a routerLink="/">Inicio</a></li>
          
        </ul>
      </div>
    </div>
  
    <!-- Línea inferior con copyright -->
    <div class="footer-bottom">
      <p>&copy; 2024 SmartDev. Todos los derechos reservados.</p>
    </div>
  </footer>
  
  