<body>
  <div class="curriculum-container">
    <h2>Áreas Currículums recibidos</h2>
    <div class="area-grid">
      <div class="area-box" (click)="goTocv('Áreas TI')">Áreas TI</div>
      <div class="area-box" (click)="goTocv('Áreas de limpieza')">Áreas de limpieza</div>
      <div class="area-box" (click)="goTocv('Áreas de marketing')">Áreas de marketing</div>
      <div class="area-box" (click)="goTocv('Áreas de finanza y contabilidad')">Áreas de finanza y contabilidad</div>
      <div class="area-box" (click)="goTocv('Área de soporte')">Área de soporte</div>
      <div class="area-box" (click)="goTocv('Área de recursos humanos')">Área de recursos humanos</div>
      <div class="area-box" (click)="goTocv('Área de administración')">Área de administración</div>
      <div class="area-box" (click)="goTocv('Área operacional')">Área operacional</div>
      <div class="area-box" (click)="goTocv('Área de mantención')">Área de mantención</div>
      <div class="area-box" (click)="goTocv('Área de seguridad de cámaras')">Área de seguridad de cámaras</div>
      <div class="area-box" (click)="goTocv('Área guardias')">Área guardias</div>
    </div>
    <!-- Botón Volver -->
    <button class="btn-back" (click)="goBack()">Volver</button>
  </div>
</body>
