<!-- Imagen con texto superpuesto -->
<div class="hero-image-overlay">
  <img src="assets/images/RRHH1.png" alt="Imagen Principal">
  <div class="overlay-text">
    <h2>Bienvenidos a SmartDev</h2>
    <p>Conecta talentos con proyectos de gran impacto. Simplifica la gestión de recursos humanos con nuestra plataforma.</p>
  </div>
</div>

<!-- Section: Propósito de la Aplicación -->
<section class="hero" id="proposito">
  <div class="hero-text">
    <h2>Propósito de la Aplicación</h2>
    <p>
      Esta aplicación permite gestionar postulaciones laborales y administrar el flujo de talentos que buscan unirse a nuestra organización.
    </p>
    <button class="btn btn-primary" routerLink="/comenzar" (click)="goToMenuUser()">Ver ofertas</button>
  </div>
  <div class="hero-image">
    <img src="assets/images/teamwork.jpg" alt="Teamwork">
  </div>
</section>

<!-- Section: Información de la Organización -->
<section class="info">
  <h2>Información de la Organización</h2>
  <p>
    SmartDev es una empresa dedicada al desarrollo de software y procesos tecnológicos innovadores, que busca conectar talento con proyectos de gran impacto.
  </p>
</section>
